{
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "extends": ["eslint-config-airbnb-base", "eslint:recommended", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-plusplus": "off",
        "no-console": "warn",
        "max-len": ["warn", { "code": 120 }],
        "import/prefer-default-export": "off",
        "no-empty": 0,
        "no-unused-vars": "off",
        "semi": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoredNodes": ["TemplateLiteral *"]
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    }
}
